/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Old+Standard+TT:wght@400;700&family=Raleway:wght@400;700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.navbar {
  width: 100%;
  height: 5rem;
  background-color: white;
  text-align: center;
  margin: 0%;
  padding: 0%;
}

.navbar_logo {
  font-family: "Old Standard TT", serif;
  background-color: black;
  color: white;
  width: auto;
  max-width: 30%;
  height: auto;
  padding: 1rem 2rem;
  float: left;
}

.navbar_menu {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  background-color: white;
  color: black;
  width: auto;
  max-width: 70%;
  margin-left: auto;
  margin-right: 5%;
  text-decoration: none;
  float: right;
}

.navbar_menu li {
  display: inline-block;
  padding: 2rem 1rem;
}

.navbar_menu a {
  text-decoration: none;
}

.bg-hero {
  width: 50%;
  text-align: center;
}

.bg-hero img {
  max-width: 100vw;
  height: auto;
}

@media screen and (min-width: 900px) {
  .bg-hero {
    float: right;
  }

  .bg-hero img {
    max-width: 50vw;
  }
}
.blog_main {
  margin: 0%;
  padding: 0%;
  text-align: center;
  color: #0C0910;
}

.blog_main_section {
  margin: 0%;
  padding: 0%;
  text-align: left;
}
.blog_main_section h2 {
  font-size: 3.125rem;
  font-weight: 700;
  font-family: "Old Standard TT", serif;
  padding-bottom: 2rem;
  text-align: center;
}
.blog_main_section p {
  color: #646266;
  font-family: "Raleway", sans-serif;
  text-align: left;
  padding-bottom: 2rem;
}
.blog_main_section button {
  background-color: transparent;
  border: 1rem solid #0C0910;
}

.blog_main_article {
  margin-bottom: auto;
  padding: 10vw 6vh;
}

.blog_main_news {
  background-color: #0C0910;
  font-family: "Old Standard TT", serif;
  color: #fff;
  text-align: center;
  display: flex;
  height: 10vh;
}

.blog_main_news_form {
  display: block;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.blog_main_btn {
  width: 7rem;
  height: 3rem;
  border: 0.33rem solid #0C0910;
  color: #0C0910;
  text-align: center;
}
.blog_main_btn span {
  padding: 1rem 1rem 1rem 1rem;
  display: block;
}

@media screen and (min-width: 900px) {
  .blog_main_section {
    width: 50wv;
  }
}

/*# sourceMappingURL=main.css.map */
