.bg-hero{
    width: 50%;
    text-align: center;
}

.bg-hero img{
    max-width: 100vw;
    height: auto;
}

@media screen and (min-width:900px){
    .bg-hero{
    float: right;
    }
    .bg-hero img{
        max-width: 50vw;
    }
}